<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <title>{{ note.title }}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
    body {
      font-family: "Inter", sans-serif;
    }
  </style>
  <script>
    var showActions = false;
    function updateButton() {
      showActions = !showActions;
      // document.getElementById("actions").classList.remove("hidden");
      // document.getElementById("actions").classList.add("flex");
      document.getElementById("update").classList.add("hidden");
      document.getElementById("update").classList.remove("flex");
      // document.getElementById("note-display").classList.remove("block");
      document.getElementById("note-display").classList.add("hidden");
      // document.getElementById("update-note-display").classList.add("block");
      document.getElementById("update-note-display").classList.remove("hidden");
    }

    function cancelButton() {
      showActions = !showActions;
      // document.getElementById("actions").classList.add("hidden");
      // document.getElementById("actions").classList.add("flex");
      document.getElementById("update").classList.remove("hidden");
      // document.getElementById("update-note-display").classList.remove("block");
      document.getElementById("update-note-display").classList.add("hidden");
      // document.getElementById("note-display").classList.add("block");
      document.getElementById("note-display").classList.remove("hidden");
    }
  </script>
  <body class="h-full">
    <div class="flex min-h-screen flex-col px-8 md:px-24 lg:px-40">
      <div class="py-16 min-h-screen">
        <div class="px-4 sm:px-0 flex flex-row items-center justify-between">
          <div>
            <div class="flex items-center">
              <a href="{% url 'home' %}">
                <span class="material-icons-round text-gray-900 cursor-pointer"
                  >keyboard_backspace</span
                >
              </a>
              <h3 class="text-base font-semibold leading-7 text-gray-900 ml-3">
                Note
              </h3>
            </div>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
              Created: {{ note.created_at }}
            </p>
          </div>
          <div class="flex flex-row items-center">
            <button
              class="flex items-center ml-3 w-max h-max rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm hover:bg-gray-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              <span class="material-icons-round text-gray-700 text-sm mr-1"
                >delete</span
              >
              Delete
            </button>
            <button
              id="update"
              onclick="updateButton()"
              class="flex items-center ml-3 w-max h-max rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              <span class="material-icons-round text-white text-sm mr-1"
                >edit</span
              >
              Update
            </button>
          </div>
        </div>
        <!-- note display -->
        <div id="note-display" class="block mt-6 border-t border-gray-100">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">Title</dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
              >
                <span id="titletext" class="block">{{ note.title }}</span>
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                Content
              </dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 break-words"
              >
                <span id="contenttext" class="block">{{ note.content }}</span>
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                Collection
              </dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
              >
                {% load util %}
                {% if note.collection|get_type %}
                  <p>{{ note.collection }}</p>
                  {% else %}
                  <div class="relative items-center gap-2 text-xs flex-wrap flex">
                  {% for col in note.collection %}
                    <span class="relative z-10 rounded-full bg-indigo-50 px-3 py-1.5 font-medium text-gray-900 ring-1 ring-inset ring-indigo-500/10">{{ col.title }}</span>
                  {% endfor %}
                  </div>
                {% endif %}
              </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">
                Collaborators
              </dt>
              <dd
                class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
              >
                {% load util %}
                {% if note.collaborators|get_type %}
                  <p>{{ note.collaborators }}</p>
                  {% else %}
                  <div class="relative items-center gap-2 text-xs flex-wrap flex">
                  {% for collab in note.collaborators %}
                    <span class="relative z-10 rounded-full bg-indigo-50 px-3 py-1.5 font-medium text-gray-900 ring-1 ring-inset ring-indigo-500/10">{{ collab.username }}</span>
                  {% endfor %}
                  </div>
                {% endif %}
              </dd>
            </div>
          </dl>
        </div>
        <!-- update note -->
        <div id="update-note-display" class="hidden mt-6 border-t border-gray-100">
          <form action="" method="post">
            {% csrf_token %}
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Title
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  <div class="sm:col-span-4">
                    <div
                      class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"
                    >
                      <input
                        type="text"
                        name="title"
                        id="title"
                        class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                        placeholder="Bucket List"
                        value="{{ note.title }}"
                      />
                    </div>
                  </div>
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Content
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 break-words"
                >
                  <div class="col-span-full">
                    <textarea
                      id="content"
                      name="content"
                      rows="3"
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                      placeholder="1. Explore Switzerland"
                    >
{{ note.content }}</textarea
                    >
                  </div>
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Collection
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  <select name="collections[]" multiple>
                    {% for collection in collections %}
                      <option value="{{ collection.cid }}">{{ collection.title }}</option>
                    {% endfor %}
                  </select>
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                  Collaborators
                </dt>
                <dd
                  class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                  <select name="users[]" multiple>
                    {% for user in users %}
                      <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                  </select>
                </dd>
              </div>
            </dl>
            <div id="actions" class="flex-row items-center mt-4">
              <button
                onclick="cancelButton()"
                type="button"
                class="w-max h-max rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 px-3 py-2 text-sm font-semibold text-gray-700 shadow-sm hover:bg-gray-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Cancel
              </button>
              <button
                type="submit"
                class="ml-3 w-max h-max rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
